@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AppUserDto

<div id="content" class="site-content">
    <div id="primary" class="content-area width-normal">
        <main id="main" class="site-main">
            <div class="cont maincont">
                <h1 class="maincont-ttl">Daxil ol / Qeydiyyat</h1>
                <ul class="b-crumbs">
                    <li><a asp-action="Index" asp-controller="Home">Əsas səhifə</a></li>
                    <li>Daxil ol & Qeydiyyat</li>
                </ul>
                <article class="page-cont">
                    <div class="page-styling">
                        <div class="auth-wrap">
                            <div class="auth-col">
                                <h2>Daxil ol</h2>
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <form asp-action="Login" asp-controller="Account" method="post" class="login">
                                    <p>
                                        <label for="username">E-mail <span class="required">*</span></label>
                                        <input type="text" id="username" asp-for="LoginDto.Email">
                                        <span class="text-danger" asp-validation-for="LoginDto.Email"></span>
                                    </p>
                                    <p>
                                        <label for="password">Şifrə <span class="required">*</span></label>
                                        <input type="password" id="password" asp-for="LoginDto.Password">
                                        <span class="text-danger" asp-validation-for="LoginDto.Password"></span>
                                    </p>
                                    <p class="auth-submit">
                                        <input type="submit" value="Daxil ol">
                                        <input type="checkbox" id="rememberme" asp-for="LoginDto.RememberMe">
                                        <label for="rememberme">Yadda saxla</label>
                                    </p>
                                    <p class="auth-lost_password">
                                        <a href="#">Şifrəni unutmusunuz?</a>
                                    </p>
                                </form>
                            </div>
                            <div class="auth-col">
                                <h2>Qeydiyyat</h2>
                                <form asp-action="Registration" asp-controller="Account" method="post" class="register">
                                    <p>
                                        <label for="name">Ad <span class="required">*</span></label>
                                        <input type="text" id="name" placeholder="Ad..." asp-for="Name">
                                        <span class="text-danger" asp-validation-for="Name"></span>
                                    </p>
                                    <p>
                                        <label for="surname">Soyad<span class="required">*</span></label>
                                        <input type="text" id="surname" placeholder="Soyad..." asp-for="Surname">
                                        <span class="text-danger" asp-validation-for="Surname"></span>
                                    </p>
                                    <p>
                                        <label for="reg_email">Email <span class="required">*</span></label>
                                        <input type="email" id="reg_email" placeholder="Email..." asp-for="Email">
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </p>
                                    <p>
                                        <label for="reg_password">Şifrə <span class="required">*</span></label>
                                        <input type="password" id="reg_password" placeholder="Şifrə..." asp-for="Password">
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </p>
                                    <p>
                                        <label for="living-place">Yaşayış ünvanı<span class="required">*</span></label>
                                        <input type="text" id="living-place" placeholder="Yaşayış yeri..." asp-for="LivinPlace">
                                        <span class="text-danger" asp-validation-for="LivinPlace"></span>
                                    </p>
                                    <p>
                                        <label for="phone-number">Əlaqə nömrəsi<span class="required">*</span></label>
                                        <input type="tel" id="phone" placeholder="(0**)-***-****" asp-for="PhoneNumber">
                                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                    </p>
                                    <p class="auth-submit">
                                        <input type="submit" value="Qeydiyyat">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </main>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>
    document.getElementById('phone').addEventListener('input', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
        e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    });
</script>








