@{
    ViewData["Title"] = "Daxil Ol/Qeydiyyat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AppUserDto

<div id="content" class="site-content">
    <div id="primary" class="content-area width-normal">
        <main id="main" class="site-main">
            <div class="cont maincont">
                <h1 class="maincont-ttl">Daxil ol / Qeydiyyat</h1>
                <ul class="b-crumbs">
                    <li><a asp-action="Index" asp-controller="Home">Əsas səhifə</a></li>
                    <li>Daxil ol & Qeydiyyat</li>
                </ul>
                <article class="page-cont">
                    <div asp-validation-summary="All" class="text-danger" style="text-align:center"></div>
                    <div class="page-styling">
                        <div class="auth-wrap">
                            <div class="auth-col">
                                <h2>Daxil ol</h2>
                                <form asp-action="Login" asp-controller="Account" method="post" class="login">
                                    <p>
                                        <label for="username">E-mail <span class="required">*</span></label>
                                        <input type="text" id="username" asp-for="LoginDto.Email">
                                        <span class="text-danger" asp-validation-for="LoginDto.Email"></span>
                                    </p>
                                    <p>
                                        <label for="password">Şifrə <span class="required">*</span></label>
                                        <input type="password" id="password" asp-for="LoginDto.Password">
                                        <span class="text-danger" asp-validation-for="LoginDto.Password"></span>
                                    </p>
                                    <p class="auth-submit">
                                        <input type="submit" value="Daxil ol">
                                        <input type="checkbox" id="rememberme" asp-for="LoginDto.RememberMe">
                                        <label for="rememberme">Yadda saxla</label>
                                    </p>
                                    @*<p class="auth-lost_password">
                                        <a class="resetPass" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Şifrəni unutmusunuz?</a>
                                    </p>*@
                                    <div class="collapse" id="collapseExample">
                                        <div class="card card-body">
                                            <input type="email" placeholder="Emaili daxil edin..." id="senderMail">
                                            <i id="sendResetMail" style="color:#6bc67c;font-weight:bold;font-size:17px;text-align:center;" class="m-3 resetPass"><span style="margin-left:5px;font-style:normal;border:2px solid;border-radius:10%;padding:0 5px;">Göndər</span></i>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="auth-col">
                                <h2>Qeydiyyat</h2>
                                <form asp-action="Registration" asp-controller="Account" method="post" class="register">
                                    <p>
                                        <label for="name">Ad <span class="required">*</span></label>
                                        <input type="text" id="name" placeholder="Ad..." asp-for="Firstname">
                                        <span class="text-danger" asp-validation-for="Firstname"></span>
                                    </p>
                                    <p>
                                        <label for="surname">Soyad<span class="required">*</span></label>
                                        <input type="text" id="surname" placeholder="Soyad..." asp-for="Lastname">
                                        <span class="text-danger" asp-validation-for="Lastname"></span>
                                    </p>
                                    <p>
                                        <label for="reg_email">Email <span class="required">*</span></label>
                                        <input type="email" id="reg_email" placeholder="Email..." asp-for="Email">
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </p>
                                    <p>
                                        <label for="reg_password">Şifrə <span class="required">*</span></label>
                                        <input type="password" id="reg_password" placeholder="Şifrə..." asp-for="Password">
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </p>
                                    <p>
                                        <label for="living-place">Yaşayış ünvanı<span class="required">*</span></label>
                                        <input type="text" id="living-place" placeholder="Yaşayış yeri..." asp-for="Adrress">
                                        <span class="text-danger" asp-validation-for="Adrress"></span>
                                    </p>
                                    <p>
                                        <label for="phone-number">Əlaqə nömrəsi<span class="required">*</span></label>
                                        <input type="tel" id="phone" placeholder="(0**)-***-****" asp-for="PhoneNumber">
                                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                    </p>
                                    <p>
                                    <p class="d-flex align-items-center m-0">
                                        <input class="mr-2" type="checkbox" id="isRegisterPolicyAccepted" asp-for="IsPolicyAccepted">
                                        Qeydiyyat<a href="#" class="border-0 px-1" data-toggle="modal" data-target="#registerPolicyModal"> şərtlərini </a>oxudum və qəbul edirəm.
                                    </p>
                                    <span class="text-danger" asp-validation-for="IsPolicyAccepted"></span>
                                    </p>
                                    <p class="auth-submit">
                                        <input type="submit" value="Qeydiyyat">
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </main>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="registerPolicyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <h5 class="modal-title" id="exampleModalLabel"> Qeydiyyat şərtləri </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Raw(ViewBag.policy)
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>$(document).on("click", "#sendResetMail", function (e) {
        e.preventDefault();
        function validateEmail($email) {
            var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
            return emailReg.test($email);
        }
        let email = $('#senderMail').val();
        if (!email) {
            Swal.fire({
                icon: 'error',
                title: 'Xəta',
                text: 'Email daxil edin...!'
            });
        } else {
            if (validateEmail(email)) {
                $.ajax({
                    url: '/Account/ResetPassword',
                    type: "POST",
                    data: { email: email },
                    success: function (result) {
                        if (result.status == 400) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Xəta',
                                text: result.message
                            });
                        } else {
                            Swal.fire({
                                icon: 'success',
                                title: 'Uğurlu',
                                text: `Şifrə bərpası ${email} adresinə göndərildi.`
                            });
                        }

                    }
                })
            }
            else {
                Swal.fire({
                    icon: 'error',
                    title: 'Xəta',
                    text: 'Düzgün email daxil edin...!'
                });
            }
        }

    });</script>
<partial name="_ValidationScriptsPartial" />
<script>document.getElementById('phone').addEventListener('input', function (e) {
        var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
        e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
    });</script>








