@model SliderDto
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Admin/js/Category/add.js"></script>

<section class="wrapper">
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Slider şəklinin yenilənməsi
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form method="post" asp-controller="Slider" asp-action="Edit" enctype="multipart/form-data">
                                <input asp-for="@Model.Id" style="visibility:hidden" />
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Şəkil</label>
                                    <div>
                                        <img style="width:160px;height:155px; color:#EBEEF1;border:solid;" id="photoBase" src="~/img/@Model.ImageName">
                                    </div>
                                    <input style="visibility:hidden;position:absolute" type="file" id="Image" name="ImageForEdit" asp-for="ImageForEdit" accept="image/*" onchange="ShowPhoto(this)" />
                                    <a class="btn btn-primary" id="choosePhoto" style="margin-top:5px">Seç</a>
                                </div>
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <input type="submit" readonly class="btn btn-success" value="Yadda Saxla" />
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<partial name="_ValidationScriptsPartial" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


@{
    if (Model != null && Model.IsSuccessfull)
    {
        <script>
            Swal.fire({
                position: 'top-end',
                icon: 'success',
                title: '"Şəkil uğurla yeniləndi..."',
                showConfirmButton: true
            })
            $(".swal2-confirm").click(function () {
                window.location = "/Admin/Slider/ImagesList"
            });


        </script>
    }
}

