
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<form asp-action="Index" asp-controller="Lang" method="post">

    <div class="container">
        <div style="margin:10px;">
            <div class="input-group-prepend">
                <span class="input-group-text">Açar söz</span>
            </div>
            <textarea required class="form-control" name="key" aria-label="With textarea"></textarea>
        </div>
        <div style="margin:10px;">
            <div class="input-group-prepend">
                <span class="input-group-text">Rusca qarşılığı</span>
            </div>
            <textarea required name="value" class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div style="margin:10px;text-align:right;">
            <button type="submit" class="btn btn-info btn-lg">Yadda Saxla</button>
        </div>
    </div>
</form>
