@model IEnumerable<ProductDto>

@{
    ViewData["Title"] = "CategoryProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var categories = Library.GetInstance().CategoryProducts;
    var paginationDto = Model.Select(x => x.PaginationDto).FirstOrDefault();
}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<div id="content" class="site-content">

    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="cont maincont">

                <div class="section-top">

                    <h1 class="maincont-ttl">Məhsullar</h1>
                    <div class="section-top-sort">
                        <div class="section-view">
                            <p>View</p>
                            <div class="dropdown-wrap">
                                <p class="dropdown-title section-view-ttl">Gallery</p>
                                <ul class="dropdown-list">
                                    <li>
                                        <a href="catalog-list.html">List</a>
                                    </li>
                                    <li class="active">
                                        <a href="catalog-gallery.html">Gallery</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="section-sort">
                            <p>Sort</p>
                            <div class="dropdown-wrap">
                                <p class="dropdown-title section-sort-ttl">Newness</p>
                                <ul class="dropdown-list">
                                    <li>
                                        <a href="#">Popularity</a>
                                    </li>
                                    <li>
                                        <a href="#">Average rating</a>
                                    </li>
                                    <li class="active">
                                        <a href="#">Newness</a>
                                    </li>
                                    <li>
                                        <a href="#">Price: low to high</a>
                                    </li>
                                    <li>
                                        <a href="#">Price: high to low</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <form method="post" class="products-per-page">
                            <p>Per Page</p>
                            <select>
                                <option value="12" selected="selected">12</option>
                                <option value="24">24</option>
                                <option value="48">48</option>
                                <option value="-1">All</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="section-wrap-withsb">
                    <partial name="_CategoriesPartial"/>        
                    <div class="section-list-withsb" id="section-list-withsb">
                        <div class="theiaStickySidebar">

                            <div class="prod-litems section-list">
                                <partial name="_ProductPartial" model="Model.ToList()"/>
                            </div>
                            <partial name="_PaginationPartial" model="@paginationDto"/>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
