@model ProductsViewModel
@{
    ViewData["Title"] = "Məhsullarımız";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" value="12" id="productsPerPage"/>
<input type="hidden" value="@ViewBag.productsCount" id="productsCount" />
<input type="hidden" value="0" id="skipedProducts" />
<input type="hidden" value="@ViewBag.search" id="searchInput" />

<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="cont maincont">

                <div class="section-top">

                    <h1 class="maincont-ttl">Məhsullar</h1>

                    <div class="section-top-sort">
                        <div class="products-per-page">
                            <p>Məhsul sayı: </p>
                            <select>
                                <option value="12" selected="selected">12</option>
                                <option value="24">24</option>
                                <option value="48">48</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="section-wrap-withsb">
                    <partial name="_CategoriesPartial" model="@Model.Categories" />
                    <div class="section-list-withsb" id="section-list-withsb">
                        <div class="theiaStickySidebar">
                            <div class="prod-litems section-list">
                                @{
                                    @*if (Model.Products.Count > 0)
                                    {
                                        <partial name="_ProductPartial" model="Model" />
                                    }
                                    else
                                    {
                                        <div style="font-size:40px;text-align:center;margin:15px 0;">
                                            <h1>Axtarışınıza uyğun məhsul tapılmadı!</h1>
                                        </div>
                                    }*@

                                    if (Model.Products.Count < 0) {
                                        <div style="font-size:40px;text-align:center;margin:15px 0;">
                                            <h1>Axtarışınıza uyğun məhsul tapılmadı!</h1>
                                        </div>
                                    }
                                }
                            </div>
                            @if (Model.Products.Count > 0)
                            {
                                <div class="loading-wrapper text-center mb-3">
                                    <img src="/img/loading.gif" class="loading" />
                                </div>
                             }
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

</div>

<script>
    console.log(document.querySelector(`.cart_list`).children)
</script>