@{
    ViewData["Title"] = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model ProductDto

@{
    var categories = OfficeMart.Business.Infrastructure.Concrete.Library.GetInstance().Categories;
    var colors = OfficeMart.Business.Infrastructure.Concrete.Library.GetInstance().Colors;
    var productSizes = OfficeMart.Business.Infrastructure.Concrete.Library.GetInstance().ProductSizes;
}

<link href="~/Admin/css/add.css" rel="stylesheet" />
<script src="~/Admin/js/add.js"></script>
<section class="wrapper">
    <div class="form-w3layouts">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Məhsul əlavə edilməsi
                    </header>
                    <div class="panel-body">
                        <div class="form">
                            <form enctype="multipart/form-data">
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Adı</label>
                                    <input id="ProductName" asp-for="ProductName" class="form-control" />
                                    <span class="text-danger" asp-validation-for="ProductName"></span>
                                </div>
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Qiyməti</label>
                                    <input id="Price" asp-for="Price" class="form-control" />
                                    <span class="text-danger" asp-validation-for="Price"></span>
                                </div>
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Sayı</label>
                                    <input id="Count" asp-for="Count" class="form-control" />
                                    <span class="text-danger" asp-validation-for="Count"></span>
                                </div>
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Kateqoriya</label>
                                    <select id="CategoryId" asp-for="CategoryId" asp-items="@categories" class="form-control">
                                        <option>---Seçim edin---</option>
                                    </select>
                                    <span class="text-danger" asp-validation-for="CategoryId"></span>
                                </div>
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Rəng</label>
                                    <select id="ColorId" asp-for="ColorId" asp-items="@colors" class="form-control">
                                    </select>
                                    <span class="text-danger" asp-validation-for="ColorId"></span>
                                </div>
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Ölçü</label>
                                    <select id="ProductSizeId" asp-for="ProductSizeId" asp-items="@productSizes" class="form-control">
                                    </select>
                                    <span class="text-danger" asp-validation-for="ProductSizeId"></span>
                                </div>
                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label>Şəkli</label>
                                    <div id="imgThumbnailPreview"> </div>
                                </div>

                                <div class="form-group col-md-5 col-md-offset-3">
                                    <label for="files" class="btn btn-primary"><i class="fa fa-picture-o"></i>  Şəkil Seç</label>
                                    <span class="text-danger ml-1" asp-validation-for="Image"></span>
                                    <input id="files" accept="image/*" name="Image" type="file" style="visibility:hidden" asp-for="Image" multiple />
                                    <input id="saveBtn" readonly class="btn btn-success" value="Yadda Saxla" />
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

<partial name="_ValidationScriptsPartial" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(function () {

        $(document).on("click", "#saveBtn", function () {

            $.validator.unobtrusive.parse($('form'));
            $('form').validate();
            if ($('form').valid()) {
                var Src = [];
                $("img").each(function () {
                    var src = this.src;
                    if (src.includes('data')) {
                        Src.push(src);
                    }
                });

                var ProductName = $("#ProductName").val();
                var Price = $("#Price").val();
                var CategoryId = $("#CategoryId").val();
                var Count = $("#Count").val();
                var ColorId = $("#ColorId").val();
                var ProductSizeId = $("#ProductSizeId").val();

                $.ajax({
                    url: "/Admin/Product/Add",
                    data: { Price: Price, ProductName: ProductName, CategoryId: CategoryId, ColorId: ColorId, Count: Count,ProductSizeId:ProductSizeId, src: Src },
                    type: "POST",
                    success: function (res) {
                        swal("Uğurlu", "Elan Uğurla əlavə edildi", "success")
                            .then(willRedirect => {
                                if (willRedirect) {
                                    window.location.href = "/Admin/Product/Index";
                                }
                            });
                    }
                })
            }
        })

    })
</script>
