@{
    ViewData["Title"] = "Home Page";
}

<div id="content" class="site-content">
    <div id="primary" class="content-area width-full">
        <main id="main" class="site-main">
            <div class="maincont page-styling page-full">

                <div class="heroblock">                 
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img style="max-height:60vh" class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0064/5342/8271/files/BESO-Header-1_1400x500.jpg?v=1588297146" alt="First slide">
                            </div>
                            <div class="carousel-item">
                                <img style="max-height:60vh" class="d-block w-100" src="https://www.bookbaby.com/Images/book-printing-hero-print-mobile.jpg" alt="Second slide">
                            </div>
                            <div class="carousel-item">
                                <img style="max-height:60vh" class="d-block w-100" src="https://www.lowyinstitute.org/sites/default/files/books-4515917_1920.jpg" alt="Third slide">
                            </div>
                        </div>               
                    </div>
                </div>


                <div class="container mb60 page-styling row-wrap-container row-wrap-nottl">
                    <h2 class="mb35 heading-multishop">Məhsullar</h2>
                    <div class="row prod-items prod-items-3">
                        <article class="cf-sm-6 cf-md-4 cf-lg-4 col-xs-6 col-sm-6 col-md-4 col-lg-4 sectgl-item">
                            <div class="sectgl prod-i">
                                <div class="prod-i-top">
                                    <a class="prod-i-img" href="product.html">
                                        <img src="~/img/1/products/1.jpg" alt="">
                                    </a>
                                    <div class="prod-i-actions">
                                        <div class="prod-i-actions-in">                             
                                            <p class="prod-quickview">
                                                <a href="#" class="hover-label quick-view"><i class="icon ion-plus"></i><span>Quick View</span></a>
                                            </p>
                                            <p class="prod-i-cart">
                                                <a href="#" class="hover-label prod-addbtn"><i class="icon ion-android-cart"></i><span>Add to Cart</span></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="prod-i-bot">
                                    <div class="prod-i-info">
                                        <p class="prod-i-price">₼ 120.00</p>
                                        <p class="prod-i-categ"><a href="catalog-gallery.html">Lighting</a></p>
                                    </div>
                                    <h3 class="prod-i-ttl"><a href="product.html">Searchlight Portable</a></h3>
                                </div>
                            </div>
                        </article>                    
                    </div>
                    <p class="special-more">
                        <a class="special-more-btn" href="#">Daha Çox</a>
                    </p>
                </div>


                <div class="container mb40 page-styling row-wrap-container row-wrap-nottl front-icons">
                    <div class="row">
                        <div class="cf-lg-4 col-sm-4">
                            <div class="iconbox-item iconbox-i">
                                <div class="iconbox-i-top">
                                    <p class="iconbox-i-img withimg">
                                        <img src="~/img/1/front/1.png" alt="">
                                    </p>
                                    <h3>Siz Seçin!</h3>
                                </div>
                               
                            </div>
                        </div>
                        <div class="cf-lg-4 col-sm-4">
                            <div class="iconbox-item iconbox-i">
                                <div class="iconbox-i-top">
                                    <p class="iconbox-i-img withimg">
                                        <img src="~/img/1/front/2.png" alt="">
                                    </p>
                                    <h3>Sifariş Edin!</h3>
                                </div>
                                
                            </div>
                        </div>
                        <div class="cf-lg-4 col-sm-4">
                            <div class="iconbox-item iconbox-i">
                                <div class="iconbox-i-top">
                                    <p class="iconbox-i-img withimg">
                                        <img src="~/img/1/front/3.png" alt="">
                                    </p>
                                    <h3>Biz Çatdıraq!</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="page-styling row-wrap-full front-image-half">
                    <section class="image-half image-half-right">
                        <div class="image-half-img" style="background-image: url(~/../img/1/front/bg1.jpg);">
                            <img src="~/../img/1/front/bg1.jpg" alt="">
                        </div>
                        <div class="cont image-half-cont">
                            <div class="image-half-inner">
                                <p class="maincont-subttl">Həftənin Təklifi</p>
                                <h2>Məhsulun adı</h2>
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <p>Məhsul haqqında</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="page-styling row-wrap-full align-center front-title-block">
                    <h2>Məhsula keçid</h2>
                    <a style="margin-right:5px" class="mb40 btn-multishop" href="catalog-gallery.html">Ətraflı Baxış</a>
                    <a class="mb40 btn-multishop" href="catalog-gallery.html">Satın Al</a>
                </div>
            </div>
        </main>
    </div>
</div>
